@font-face {
  font-family: 'RobotMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotMono';
}

body {
  display:flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}